.logo{
    width: 150px !important;
}
.header{
    background-color: rgb(19, 19, 54) !important;
    text-align: center;
}
.header_area{
    padding: 20px;
    text-align: center;
}

.menu_area{
    margin-top: 60px;
    align-items: center;
}
.menu_area nav a{
    background-color:  rgb(53, 53, 90);
    color: white;
    
}
.menu_area nav a:hover{
    background-color:  rgb(23, 25, 97);
}

.main{
    background-color:  rgb(57, 57, 83);
    color: white;
    padding-bottom: 30px;
}
.main .pricol{
    background-color: rgb(49, 50, 88);
    padding-left: 10px;
    text-align: center;
}
.main .tricol{
    background-color: rgb(49, 50, 88);
    padding-right: 10px;
    text-align: center;
}
.carousel{
    padding: 20px;
}
.carousel-item img{
    width: 100%;
}
.carousel-inner {
    align-items: center;
}
.active{
    background-color:  rgb(23, 25, 97) !important;
}
.footer{
    margin-top: 5px;
    background:  rgb(19, 19, 54)
}
.footer_area{
    padding: 20px;
    text-align: center;
    color: white;
}